body { 
  font-family: "Trebuchet MS"; 
         background-color: #04042b;

background-image:

radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),

radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
   box-sizing: border-box;
     margin:0px;
     padding: 0px;     
 }

@font-face {
    font-family: 'morris_romanbold';
    src: url('morrisroman-black-webfont.woff2') format('woff2'),
         url('morrisroman-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





.next {

     text-align: center;
     font-weight: bold;

}

.tmp555{

  margin: 0 auto;
width: 400px;
}
.page {

    margin-top: 5vh;
    height: 80vh;
   width: 380px;
    color:  white;
     float: left;
     
     
  
     background-color: black;
     border-radius: 25px;
     margin-bottom: 10px;
    border: 5px solid white;

}







@media (max-width: 850px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
    

    .tmp555{
 box-sizing: border-box;
  margin: 0;
  width: vh;

}
.page {


}


body  {
height:  100%;


}
.top,
.page,
.bottom {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
         width: 98vw;
height: 98vh;
  margin-left: 1vw;
  margin-right: 1vw;
    margin-top: 1vh;
  margin-bottom: 1vh;

}




  


}